name: Build Debug APK and draft Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_debug_apk:
    name: Build Debug APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew :composeApp:assembleDebug -x test --stacktrace

      - name: Upload Debug APK
        uses: actions/upload-artifact@v6.0.0
        with:
          name: piley
          path: composeApp/build/outputs/apk/debug/composeApp-debug.apk

  build_desktop:
    name: Build Desktop
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Desktop dmg
        run: ./gradlew packageDmg

      - name: Upload Desktop dmg
        uses: actions/upload-artifact@v6.0.0
        with:
          name: piley-desktop
          path: composeApp/build/compose/binaries/main/dmg/*.dmg

  release_draft:
    name: Create Release Draft
    needs: [build_debug_apk, build_desktop]
    runs-on: ubuntu-latest
    steps:
      - name: Download apk
        uses: actions/download-artifact@v7
        with:
          name: piley
      - name: Download dmg
        uses: actions/download-artifact@v7
        with:
          name: piley-desktop
      - name: Rename APK
        run: mv composeApp-debug.apk piley-${{ github.ref_name }}-debug.apk
      - name: Rename DMG
        run: mv *.dmg piley-${{ github.ref_name }}.dmg
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: false
          files: |
            piley-${{ github.ref_name }}-debug.apk
            piley-${{ github.ref_name }}.dmg